version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # Порты убрали, чтобы не было конфликтов с локальным Postgres

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend
    restart: always
    env_file:
      - /root/Digital-Ocean-Test/backend/.env
      # - ./backend/.env
    volumes:
      # ВАЖНО: Убедись, что путь совпадает с WORKDIR в Dockerfile (например, /code)
      - ./backend:/app
      - ./backend/media:/app/media
    ports:
      - "8001:8001"
    depends_on:
      - db
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: frontend
    restart: always
    env_file:
      - /root/Digital-Ocean-Test/frontend/.env.local
      # - ./frontend/.env.local
    environment:
      - DOCKER=1
      # - для сервера
      - NEXT_PUBLIC_API_URL=http://157-230-143-66.nip.io/api
      # - NEXT_PUBLIC_API_URL=http://localhost/api
      - INTERNAL_API_URL=http://backend:8001/api
      # Если Next делает запросы с сервера, он увидит бэк по имени сервиса
      # - NEXT_PUBLIC_API_URL=http://localhost/api
    ports:
      - "3000:3000"
    depends_on:
      - backend

  gateway:
    image: nginx:1.25-alpine
    container_name: nginx_gateway
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend/media:/app/media:ro # <-- ДОБАВЬ ЭТО (только для чтения)
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:
  media_data:
